################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dotnet-s3/dotnet-s3/bin/Debug/net8.0
/dotnet-s3/dotnet-s3/obj
/dotnet-s3/.vs
